<!--The content below is only a placeholder and can be replaced.-->
<div id="chart">
    <h2 style="text-align:center">Weekly arrival count</h2>
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis"
      [labels]="chartOptions.labels"
      [stroke]="chartOptions.stroke"
      [plotOptions]="chartOptions.plotOptions"
      [markers]="chartOptions.markers"
      [fill]="chartOptions.fill"
    ></apx-chart>
  </div>
  
