<mat-toolbar class="flexSpaceBetween" >
        <a routerLink="/home" routerLinkActive="router-link-active" style="text-decoration:none;"><span fxFlex="auto" class="title">My Workout Planner</span></a>
        <span style="flex: 1 1 auto"></span>
        <a routerLink="/login" routerLinkActive="router-link-active"><span>Login</span></a>
        <mat-icon class="icon" aria-hidden="false" aria-label="Example delete icon">arrow_drop_down</mat-icon>
        <!-- <mat-icon class='material-icons-outlined account-icon'>Dalijo</mat-icon> -->
        <span>Dalijo</span>
        
</mat-toolbar>
