<mat-toolbar class="flexSpaceBetween" >
        <a routerLink="/home" routerLinkActive="router-link-active" style="text-decoration:none;"><span fxFlex="auto" class="title">My Workout Planner</span></a>
        <span style="flex: 1 1 auto"></span>
        <mat-icon routerLink="/login" routerLinkActive="router-link-active" *ngIf="!isAuthenticated" class="icon-login">login</mat-icon>
        <!-- <mat-icon *ngIf="isAuthenticated" (click)="logout()" class="icon-logout">logout</mat-icon> -->
        <div *ngIf="isAuthenticated">
            <ngx-avatars bgColor="blue" [textSizeRatio]="2" [name]="userName" [round]="false" cornerRadius="7" class="avatar" [mat-menu-trigger-for]="menu"></ngx-avatars>

        </div>

    <mat-menu #menu="matMenu" style="margin-top: 15px;">
        <button mat-menu-item [routerLink]="['/users']" [routerLinkActive]="['router-link-active']" *ngIf="isAdmin()">
            <mat-icon>manage_accounts</mat-icon>
            <span>Manage users</span>
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>

</mat-toolbar>
