<div class="container">
    <div class="home-picture">
        
    </div>

    <div class="home-selector">
        <a  routerLink="/workouts" routerLinkActive="router-link-active" class="nav-item">Workout Details</a>
        <a  routerLink="/exercises" routerLinkActive="router-link-active" class="nav-item">Exercises</a>
        <a  routerLink="/schedule" routerLinkActive="router-link-active" class="nav-item">Schedule</a>
        <a  routerLink="/statistics" routerLinkActive="router-link-active" class="nav-item">Statistics</a>
    <div>
</div>

<!-- <div *ngFor="let user of test">
    <p>{{user.name}}</p>
    <p>{{user.id}}</p>
</div>
<button (click)="posalji()">posalji</button>
<button (click)="update()">update</button>
<button (click)="delete()">delete</button> -->

