@font-face { font-family: crack; src: url('../../assets/crack.ttf'); } 

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.home-picture {
    width: 60%;
    height:100%;
    background: url('../../assets/img/Wallpaper-Black-Barbell-Working-Out-Exercise-Gyms-Whee8.jpg');
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    top:0;
    height: 93%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: black;
}

img {
    margin: 0;
    padding: 0;
    display: block;
  }


.home-selector {
    box-sizing: border-box;
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    color: white;
    background-color: black;
    height: 100%;
}

.nav-item {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    color: white;
    font-family: crack;
    font-size: 32px;
    font-weight: 400;
    text-decoration: none;
    height: 25%;
    letter-spacing: 2px;
}

.nav-item:hover {
    background-color: rgba(187, 170, 170, 0.27)
}


