<div class="container">
    <div class="home-picture">
        <h4 style="font-family: 'crack'; color: white; font-size: 5.5em; text-align: center; margin: auto; margin-top:20%; text-shadow: 4px 4px black; letter-spacing: 10px;">Welcome<br> back</h4>
        <h4 style="font-family: 'crack'; color: white; font-size: 6em; text-align: center; margin: auto; text-shadow: 4px 4px black; letter-spacing: 10px; margin-top:-20%;">{{username}}</h4>
        <div style="width: 100%;">
            <span style="bottom:0; float:left; color:white; margin-left:10px; margin-bottom:2px;">FER - 2022</span>
        </div>
    </div>

    <div class="home-selector">
        <a  routerLink="/workouts" routerLinkActive="router-link-active" class="nav-item">Workouts</a>
        <a  routerLink="/exercises" routerLinkActive="router-link-active" class="nav-item">Exercises</a>
        <a  routerLink="/schedule" routerLinkActive="router-link-active" class="nav-item">Schedule</a>
        <a  routerLink="/statistics" routerLinkActive="router-link-active" class="nav-item">Statistics</a>
    <div>
</div>

