<div class="home-picture">
    <!-- <img style="max-width:100%; max-height:100%;" src="https://wallpaperaccess.com/full/1087589.jpg" alt="image"> -->
    <img src="https://img1.goodfon.com/wallpaper/nbig/7/26/shtanga-trenazhernyy-zal-gym.jpg" alt="image">
</div>

<div class="home-selector">
    <a  routerLink="/workouts" routerLinkActive="router-link-active" class="nav-item">Workout Details</a>
    <a  routerLink="/exercises" routerLinkActive="router-link-active" class="nav-item">Exercises</a>
    <a  routerLink="/schedule" routerLinkActive="router-link-active" class="nav-item">Schedule</a>
    <a  routerLink="/statistics" routerLinkActive="router-link-active" class="nav-item">Statistics</a>
<div>

<!-- <div *ngFor="let user of test">
    <p>{{user.name}}</p>
    <p>{{user.id}}</p>
</div>
<button (click)="posalji()">posalji</button>
<button (click)="update()">update</button>
<button (click)="delete()">delete</button> -->

