<h1 mat-dialog-title style="text-align: center;">Update exercise</h1>
<div mat-dialog-content>
    <div class="inner-div">
        <mat-form-field appearance="outline">
            <mat-label>Exercise name</mat-label>
            <mat-error *ngIf="!name.valid && newData.name">Exercise name already exists!</mat-error>
            <input id="name" [nameValidator]="data.exerciseNames" name="name"  required matInput [ngModel] ="data.exercise.name" (ngModelChange)="newData.name = $event" #name="ngModel">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput [ngModel] ="data.exercise.description" (ngModelChange)="newData.description = $event"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" [hidden]>
            <mat-label>Image</mat-label>
            <input  matInput [disabled]="true" (ngModelChange)="newData.imageurl= $event">
            <!-- <mat-error *ngIf="imageUrl?.invalid">Enter valid image URL</mat-error> -->
        </mat-form-field>
        <img style="display:block; width: 280px; height: 186.66px;" id="img">
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()" color="warn">Cancel</button>
    <button mat-raised-button [mat-dialog-close]="newData" color="primary" [disabled]="name.invalid" cdkFocusInitial>Submit</button>
</div>