@font-face { font-family: crack; src: url('../../assets/crack.ttf'); } 
.example-card {
    min-width: 320px;
    max-width: 320px;
    min-height: 210px;
    padding:0;
    margin: 0px;
    /* background-color: rgba(63,81,181,255) */
  }

.main-container {
  min-height:93%;
  background-image: url('../../assets/img/workout_background.jpg')
}


#bottom {
  position:absolute;                 
  bottom:10px;                         
  right:20px; 
}
.image-pull {
  display: block;
  width: 280px;
  height: 186.66px;
  margin-left: 20px;
  margin-right:20px;
  margin-bottom:10px;
  margin-top:10px;
}

.icon:hover {
  cursor: pointer;
  transition: all .3s;
  color: #bebebe;
}

.icon {
  transform: scale(1.15);
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-container {
  margin-top:20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  grid-gap: 15px;
}

.grid-item {
  min-width: 0;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.options {
  background-color: rgba(255,255,255,0.8);
  padding:15px;
  margin: auto;
  margin-bottom: -20px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-direction: row;
}

:host ::ng-deep .mat-form-field-flex {
  padding-top: 5px !important;
}


